header {
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}

header a.logo {
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    height: 60px;
    width: 142px;
    background: url("../images/logo.png") no-repeat;
    background-size: 142px 60px;
}

div#api_status {
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc((70px - 40px) / 2);
    right: 30px;
    border-radius: 50%;
    background: #CCCCCC;
}

div#api_status.available {
    background: #FF545F;
}
